* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
}
/*.dataBox {
    display: flex;
    justify-content: space-between;

}*/
.style {
    width: 40vw;
    height: 40vh;
}